doctype html
html
    head
        title= title
        script(src="/jquery-3.4.0.min.js")
        script(src="/bundle.js")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet", href="/popupS.css")
    
    body
        h1 Neues Rezept

        form(method="POST", action="/rezepte/food/submit-form")
            h4 Name:
            input(type="text" name="name")
            br
            h4 Tag:
            input(type="text" name="tags")
            br
            h4 Body:
            input(type="text" name="body")
            br
            input(type="submit", value="Speichern")