doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/style.css")
    
    body
        h1 Rezept bearbeiten

        form(method="POST", action="/rezepte/food/update-form")
            input(type="hidden" name="_id" value= data._id)
            h4 Name:
            input(type="text" name="name" value= data.name)
            br
            h4 Tag:
            input(type="text" name="tags" value= data.tags)
            br
            h4 Body:
            input(type="text" name="body" value= data.body)
            br
            input(type="submit", value="Speichern")