doctype html
html
    head
        title Rezept bearbeiten: #{data.name}
        link(rel="stylesheet" href="/style.css")

    body
        div(class="navbar_top")
            a(class="navbar_alignLeft" href="/") Home
            a(class="navbar_alignLeft" href="/rezepte/food") Alle Rezepte
            a(class="navbar_alignLeft" href="/rezepte/food/new") Neues Rezept

            form(method="POST" action="/rezepte/search-form")
                input(type="text" name="term" class="navbar_search" placeholder="Suchen...")

        div(class="container")
            form(method="POST", action="/rezepte/food/update-form", id="form")
                input(type="hidden" name="_id" value= data._id)
                h4 Name:
                input(type="text" name="name" value= data.name required)
                h4 Typ:
                select(name="type")
                    option(value="fleisch") Fleisch
                    option(value="fisch") Fisch
                    option(value="vegetrisch") Vegetarisch
                    option(value="vegan") Vegan
                    option(value="andere") Andere
                br
                h4 Tag:
                input(type="text" name="tags" value= data.tags required)
                br
                h4 Body:
                input(type="text" name="body" value= data.body required)
                br
                input(type="submit", value="Speichern")