doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/style.css")
        script(src="/socket.io/socket.io.js")

body
    div(class="navbar_top")
        a(class="navbar_alignLeft" href="/") Home
        a(class="navbar_alignLeft" class="active" href="/rezepte/food") Alle Rezepte
        a(class="navbar_alignLeft" href="/rezepte/food/new") Neues Rezept

        form(method="POST" action="/rezepte/search-form")
            input(type="text" name="term" class="navbar_search" placeholder="Suchen...")
    
    div(class="container")
        div
            h2 Alle Rezepte

        table(class = 'table1')
            each index in list
                tr
                    td
                        - var id = index._id
                        a(href='/rezepte/food/rezept/' + id) #{index.name}

                    td(class='edit_icon')
                        - var id = index._id
                        form(action="/rezepte/food/edit/" + id , method="get")
                            button(type='submit') Bearbeiten

                    td(class='delete_icon')
                        form(action="/rezepte/food/delete-form", method="post")
                            button(type='submit') Löschen
                            input(type='hidden', name='_id', value= index._id)