doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/style.css")

body
    div(class = 'inline', style = {width: '80%'})
        h3 Alle "food" Rezepte
    div(class = 'inline')
        form(action="/rezepte/food/new", class = 'inline')
            button(type="submit", class = 'inline') NEU +

    table(class = 'table1')
        each index in list
            tr
                td
                    - var id = index._id
                    a(href='/rezepte/food/rezept/' + id) #{index.name}

                td(class='edit_icon')
                    - var id = index._id
                    form(action="/rezepte/food/edit/" + id , method="get")
                        button(type='submit') Bearbeiten

                td(class='delete_icon')
                    form(action="/rezepte/food/delete-form", method="post")
                        button(type='submit') Löschen
                        input(type='hidden', name='_id', value= index._id)