doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/style.css")
        script(src="/socket.io/socket.io.js")
    
    body
        h1 MAIN PAGE

        form(method="POST", action="/rezepte/drink/submit-form")
            h4 Name:
            input(type="text" name="name")
            br
            h4 Tag:
            input(type="text" name="tags")
            br
            h4 Body:
            input(type="text" name="body")
            br
            input(type="submit", value="Speichern")

        script(src="/socket_connection.js")