html
    head
        title Startseite
        link(rel="stylesheet", href="/style.css")

    body
        div(class="navbar_top")
            a(class="navbar_alignLeft" class="active" href="/") Home
            a(class="navbar_alignLeft" href="/rezepte/food") Alle Rezepte
            a(class="navbar_alignLeft" href="/rezepte/food/new") Neues Rezept

            form(method="POST" action="/rezepte/search-form")
                input(type="text" name="term" class="navbar_search" placeholder="Suchen...")